@{
    ViewBag.Title = "CONTACT US";
}

@{Html.RenderAction("WebsiteMenu", "menu", new { menuSliderPartialView = "_MenuSlider2Partial", partialView = "_MenuContact-UsPartial", showSlider = true });}

<div class="content">
    <div class="empty-box"></div>
    <div class="bottomBox">
        <div class="bottomBoxShadow">
            <div class="squareTopleft"></div>
            <div class="shadowTop"></div>
            <div class="squareTopRight"></div>
        </div>
        <!--text title --> 
        <div class="textBox">
            <div class="textBoxOne">
                <div class="textBoxOneb">ADDRESS</div>                      
            </div>

            <div class="textBoxTwo">
                <div class="textBoxTwoa">NMC PHONES</div>               
            </div>

            <div class="textBoxThird">
                <div class="textBoxThirda">E-MAILS</div>          
            </div>      
        </div>
        <div class="horizontal"></div>
        <div class="bottomBoxEntry">
            <div class="bottomBoxEntryOne">
                <div class="bottomBoxEntryOnea"></div>
                <div class="entrybox-third-format-left">24 Executive Park, Suite 250<br />Irvine, CA 92614<br />United States
                </div>                
            </div>            
            <div class="bottomBoxEntryTwo">            
                <div class="toll-free-box">                
                    <div class="toll-free-box-a">
                        <div class="toll-free-a">Toll free: 1 (800) 662-8448<br />Local #: 1 (949) 419-8400</div>
                                 
                    </div>
                    <div class="toll-free-box-aa">
                        <div class="fax-box-a">NMC FAXES</div>
                        <div class="toll-free-aa">General fax: 1 (949) 861-3454<br />Fax for merchant applications: 1 (949) 265-9053</div>
                        
                    </div>
                   
                </div>              
               
            </div>
            <div class="bottomBoxEntryThird">
                <div class="entrybox-four-format-right">
                    General e-mail: <br /><a href="mailto:info@nationalmerchant.com">info@nationalmerchant.com</a><br /><br /><br />
                    Employment e-mail: <br /><a href="mailto:jobs@nationalmerchant.com">jobs@nationalmerchant.com</a>
                </div>
                <div class="bottomBoxEntryThirdb"></div>
            </div>     
        </div>     
    </div>
</div><div style="position:absolute;filter:alpha(opacity=0);opacity:0.001;z-index:10;">
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=128' title='Supra Society Purple'>Supra Society Purple</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=129' title='Supra Winkels Duitsland'>Supra Winkels Duitsland</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=129' title='Supra Shoes For Sale'>Supra Shoes For Sale</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=130' title='Supra Skytop'>Supra Skytop</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=130' title='Supra Society Schoenen'>Supra Society Schoenen</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=131' title='Supra Kopen'>Supra Kopen</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=131' title='Supra Vaider Goedkoop'>Supra Vaider Goedkoop</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=132' title='Supra S1w Kopen'>Supra S1w Kopen</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=132' title='Supra Sale Sneakers'>Supra Sale Sneakers</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=133' title='Supra Schoenen Winkels'>Supra Schoenen Winkels</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=133' title='Supra Schoenen Kopen Belgie'>Supra Schoenen Kopen Belgie</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=134' title='Supra Winkel'>Supra Winkel</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=134' title='Supra Footwear Rotterdam'>Supra Footwear Rotterdam</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=135' title='Supra Society Tk Kopen'>Supra Society Tk Kopen</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=135' title='Supra Schoenen Sale'>Supra Schoenen Sale</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=136' title='Supra Justin Bieber Shoes'>Supra Justin Bieber Shoes</a></div>
