<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
     <add key="WebsiteTitle" value="Payment World"/>
        
    <!-- Development Configuration 
    <add key="OnlineResourceCenterUrl" value="http://localhost/merchants2/default.aspx"/>
    <add key="OnlineResourceCenterUrlForgot" value="http://localhost/merchants2/forgotpassword.aspx"/>
    <add key="OnlineResourceCenterUrlRegister" value="http://localhost/merchants2/register.aspx"/>
    <add key="VirtualTerminalUrl" value="http://localhost/virtualterminal3/default.aspx"/>
    <add key="OnlineMerchantApplicationUrl" value="http://www.nationalmerchant.com/apply"/>
    <add key="SmtpServer" value="smtpout.secureserver.net"/>
    <add key="SmtpPort" value="80"/>
    <add key="SmtpUsername" value="system@llmerchantsolutions.com"/>
    <add key="SmtpPassword" value="system"/>
    <add key="InquiryEMailSubject" value="Payment World Inquiry"/>
    <add key="InquiryEMailFrom" value="clientservices@nationalmerchant.com"/>
    <add key="InquiryEMailCc" value="eespinosa@nationalmerchant.com"/>-->

    <!-- Production Configuration -->
    <add key="OnlineResourceCenterUrl" value="https://portal.paymentworld.com/" />
    <add key="OnlineResourceCenterUrlForgot" value="https://web1.nmconline.com/forgotpassword.aspx" />
    <add key="OnlineResourceCenterUrlRegister" value="https://web1.nmconline.com/register.aspx" />
    <add key="VirtualTerminalUrl" value="https://portal.paymentworld.com/vt" />
    <add key="OnlineMerchantApplicationUrl" value="https://www.nmconline.com/onlineApplication/MerchantApplication.aspx" />
    <add key="SmtpServer" value="mail.nationalmerchant.com"/>
    <add key="InquiryEMailSubject" value="Payment World Inquiry"/>
    <add key="InquiryEMailFrom" value="clientservices@nationalmerchant.com"/>
    <add key="InquiryEMailCc" value="eespinosa@nationalmerchant.com"/>

    <add key="RegisterForBreachProtectionBundle" value="https://www.pciapply.com/pw"/>
    <add key="FileAClaimWithRoyalGroupServices" value="https://www.royalgroupservices.com/mdcl/"/>
    <add key="DownloadFromPCIPortal" value="https://www.pciapply.com/pw"/>
    <add key="CylanceAndKystrokeActivationInstructions" value="http://localhost:1725/pdf/PW%20Cylance%20and%20Keystroke%20Activation%20Instructions.pdf"/>
    <add key="emailSupport" value="sales@paymentworld.com"/>
    <add key="DataBreachVideo" value="https://www.youtube.com/embed/ZRzme3yJzDQ"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
  </system.codedom>
</configuration>
