<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="OnlineResourceCenterUrl" value="https://www.nmconline.com/default.aspx"/>
    <add key="OnlineResourceCenterUrlForgot" value="https://www.nmconline.com/forgotpassword.aspx"/>
    <add key="OnlineResourceCenterUrlRegister" value="https://www.nmconline.com/register.aspx"/>
    <add key="VirtualTerminalUrl" value="https://www.nmconline.com/vt/default.aspx"/>
    <!-- <add key="OnlineMerchantApplicationUrl" value="https://www.nmconline.com/onlineApplication/MerchantApplication.aspx" /> -->
    <add key="OnlineMerchantApplicationUrl" value="https://apps.nmconline.com/?id=1103108e-fa18-41cd-aadc-b02d93587697"/>
    <add key="SmtpServer" value="mail.nationalmerchant.com"/>
    <add key="InquiryEMailSubject" value="National Merchant Center Inquiry"/>
    <add key="InquiryEMailFrom" value="clientservices@nationalmerchant.com"/>
    <add key="InquiryEMailCc" value="sales@nationalmerchant.com"/>
    <add key="WebsiteTitle" value="National Merchant Center"/>

    <add key="RegisterForBreachProtectionBundle" value="https://www.pciapply.com/nmc"/>
    <add key="FileAClaimWithRoyalGroupServices" value="https://www.royalgroupservices.com/mdcl/"/>
    <add key="DownloadFromPCIPortal" value="https://www.pciapply.com/nmc"/>
    <add key="CylanceAndKystrokeActivationInstructions" value="http://localhost:19261/pdf/NMC%20Cylance%20and%20Keystroke%20Activation%20Instructions.pdf"/>
    <add key="emailSupport" value="sales@nationalmerchant.com"/>
    <add key="phoneSupport" value="949-419-8400"/>
    <add key="DataBreachVideo" value="https://www.youtube.com/embed/Akk26T5zkiA"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
  </system.codedom>
</configuration>
