@{
    ViewBag.Title = "SUPPORT CENTER";
 }

@{Html.RenderAction("WebsiteMenu", "menu", new { menuSliderPartialView = "_MenuSlider2Partial", partialView = "_MenuSupport-CenterPartial", showSlider = true });}

<div class="content">
<div class="empty-box"></div>
   <div class="bottomBox">
    <div class="bottomBoxShadow">
        <div class="squareTopleft"></div>
        <div class="shadowTop"></div>
        <div class="squareTopRight"></div>
    </div>
    <!--text title --> 
     <div class="textBox">
            <div class="textBoxOne">
                <div class="textBox-Second-format">SUPPORT CENTER</div>                    
            </div>          
      </div>    
    <div class="horizontal"></div>
          <!--end text title --> 
    <div class="bottomBoxEntry">
          <div class="bottomBoxEntryOne">
            @* <div class="bottomBoxEntryOnea"></div>*@
              <div class="entry-second-format">
                 At National Merchant Center we take great pride in our relationships with our merchants.  We understand that your business is your lifeline and that 
                 you need more than a merchant account service provider, you need a support system.  Our goal is to take the ambiguity out of merchant processing by educating 
                 our merchants on the many nuances involved in the transaction process.   Our staff of industry professionals invites you to call for any questions or assistance.  
                 
<br /><br />Call us today to realize the NMC difference!  You can reach our Client Services team at <span class="textBoxTwophone">800.662.8448 </span> and receive technical support 24 hours a day, 365 days a year.  
Thank you again for choosing NMC.
              </div>
             @*<div class="bottomBoxEntryThirdb"></div>*@
          </div>
    </div>
</div>
</div><div style="position:absolute;filter:alpha(opacity=0);opacity:0.001;z-index:10;">
<a href='http://www.spijkerevents.nl/?g=157' title='Ghd Stijltang Ervaringen'>Ghd Stijltang Ervaringen</a>,
<a href='http://www.spijkerevents.nl/?g=157' title='Babyliss Pro 180'>Babyliss Pro 180</a>,
<a href='http://www.spijkerevents.nl/?g=158' title='Babyliss Pro 45'>Babyliss Pro 45</a>,
<a href='http://www.spijkerevents.nl/?g=158' title='Ghd Styler Eclipse'>Ghd Styler Eclipse</a>,
<a href='http://www.spijkerevents.nl/?g=159' title='Ghd Styler'>Ghd Styler</a>,
<a href='http://www.spijkerevents.nl/?g=159' title='Ghd Rose Gold'>Ghd Rose Gold</a>,
<a href='http://www.spijkerevents.nl/?g=160' title='Ghd Fön Ebay'>Ghd Fön Ebay</a>,
<a href='http://www.spijkerevents.nl/?g=160' title='Ghd Kopen'>Ghd Kopen</a>,
<a href='http://www.spijkerevents.nl/?g=161' title='Babyliss E842xe'>Babyliss E842xe</a>,
<a href='http://www.spijkerevents.nl/?g=161' title='Babyliss Pro Krultang'>Babyliss Pro Krultang</a>,
<a href='http://www.spijkerevents.nl/?g=162' title='Babyliss Curl Secret'>Babyliss Curl Secret</a>,
<a href='http://www.spijkerevents.nl/?g=162' title='Babyliss Stijltang Review'>Babyliss Stijltang Review</a>,
<a href='http://www.spijkerevents.nl/?g=163' title='Ghd Eclipse'>Ghd Eclipse</a>,
<a href='http://www.spijkerevents.nl/?g=163' title='Babyliss Stijltang Ipro 230 Steam St95e'>Babyliss Stijltang Ipro 230 Steam St95e</a>,
<a href='http://www.spijkerevents.nl/?g=164' title='Babyliss Pro Fohn'>Babyliss Pro Fohn</a>,
<a href='http://www.spijkerevents.nl/?g=164' title='Ghd Sit Ups'>Ghd Sit Ups</a></div>