
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data Breach</title>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .head_menu_top {
            position: relative;
            float: left;
        }
    </style>
</head>
<body>
    <div>
        <div style="width: 1327px;margin-left: auto; margin-right: auto; position:relative; top: -176px;">
            @*
        <a href="#protect"><img class="" style="left: 425px;top: 1233px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_protect.PNG" /></a>
        <a href="#cylance"><img class="" style="left: 714px;top: 1229px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_cylance.PNG" /></a>
        <a href="#lock"><img class="" style="left: 1032px;top: 1232px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_lock.PNG" /></a>
        <a href="#endpoint"><img class="" style="left: 1331px;top: 1225px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_endpoint.PNG" /></a>
            *@
            <a href="https://www.pciapply.com/pw"><img class="head_menu_top" style="left: 963px;top: 1910px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_register.PNG" /></a>
            <a href="http://www.royalgroupservices.com/mdcl/"><img class="head_menu_top" style="left: 703px;top: 2102px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_claim.PNG" /></a>
            <a href="https://www.pciapply.com/pw"><img class="head_menu_top" style="left: 503px;top: 3094px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_pci_portal_1.PNG" /></a>
            <a href="https://www.pciapply.com/pw"><img class="head_menu_top" style="right: 550px;top: 3494px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_pci_portal_2.PNG" /></a>
            <div id="head">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/databreach_head.jpg" />
            </div>
            <div id="protect">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_protect.jpg" />
            </div>
            <div id="cylance">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_cylance.jpg" />
            </div>
            <div id="endpoint">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_endpoint.jpg" />
            </div>
            <div id="lock">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_lock.jpg" />
            </div>
            <div id="footer">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_foot.jpg" />
            </div>
        </div>
    </div>
</body>
</html>
