@model Codebase.Website.Models.ProductsServicesViewModel

<script type="text/javascript">
    $(function () {
        $('#slides_p').slides({
            generateNextPrev: false,
            container: 'slides_container_p',
            start: @Model.StartIndex
        });
    });
</script>

@{
    ViewBag.Title = "PRODUCTS & SERVICES";
}

@{Html.RenderAction("WebsiteMenu", "menu", new { menuSliderPartialView = "_MenuSlider2Partial", partialView = "_MenuProducts-ServicesPartial", showSlider = true });}
<div class="content">
    <div class="empty-box"></div>
    <div class="container_p">

        <div id="slides_p">
            <div class="slides_container_p">

                <div class="bottomBox" style="display:none">
                    <div class="bottomBoxShadow">
                        <div class="squareTopleft"></div>
                        <div class="shadowTop"></div>
                        <div class="squareTopRight"></div>
                    </div>
                    <div class="textBox">
                        <div class="textBoxOne">
                            <div class="textBoxOnea"></div>
                            <div class="textBoxOneb">CLOVER POS SYSTEM</div>
                        </div>

                        <div class="textBoxTwo">
                            <div class="textBoxTwoa">CHARGEBACK PROTECTION</div>
                        </div>

                        <div class="textBoxThird">
                            <div class="textBoxThirda">DATA BREACH PROTECTION</div>
                            <div class="textBoxThirdb"></div>
                        </div>
                    </div>
                    <div class="horizontal"></div>
                    <div class="bottomBoxEntry">
                        <div class="bottomBoxEntryOne">
                            <div class="bottomBoxEntryOnea"></div>
                            <div class="bottomBoxEntryOneb">
                                <div class="OnebImage">
                                    @*<div class="OnebImagea"></div>*@
                                    <ins class='dcmads' style='display:inline-block;width:72px;height:72px'
                                         data-dcm-placement='N510001.3621619NATIONALMERCHANT/B22733083.251525397'
                                         data-dcm-rendering-mode='iframe'
                                         data-dcm-https-only
                                         data-dcm-resettable-device-id=''
                                         data-dcm-app-id=''>
                                        <script src='https://www.googletagservices.com/dcm/dcmads.js'></script>
                                    </ins>
                                </div>
                                <div class="OnebTest">
                                    - Clover POS Station. <br />
                                    - Clover Go, Flex, & Mini<br />
                                    - Large App store<br />
                                    - Accept offline payments<br />
                                    - 2 Printer options<br />
                                    <div style="position: relative; left: -60px; width: 400px; top: 25px; font-size: 9px; color: hotpink;">
                                        "The Clover name and logo are owned by Clover Network, Inc.<br />
                                        a wholly owned subsidiary of First Data Corporation, and are<br />
                                        registered or used in the US and many foreign countries.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottomBoxEntryTwo">
                            <div class="bottomBoxEntryTwoa">
                                <div class="imageTwoax"></div>
                            </div>
                            <div class="textTwoa">
                                - Reduce fraud<br />
                                - Simplify payment disputes<br />
                                - Stop chargebacks at the source<br />
                                - See in-depth charts & analytics<br />

                            </div>
                        </div>
                        <div class="bottomBoxEntryThird">
                            <div class="bottomBoxEntryThirda">
                                <div class="imageThirdax"></div>
                            </div>
                            <div class="textThirda">
                                - Protect your business from lost<br />&nbsp; revenue<br />
                                - Breach management & support<br />
                                - Worldwide coverage<br />
                                - Loss mitigation audits<br />
                            </div>
                            <div class="bottomBoxEntryThirdb"></div>
                        </div>
                    </div>
                </div>

                <div class="bottomBox" style="display:none">
                    <div class="bottomBoxShadow">
                        <div class="squareTopleft"></div>
                        <div class="shadowTop"></div>
                        <div class="squareTopRight"></div>
                    </div>
                    <div class="textBox">
                        <div class="textBoxOne">
                            <div class="textBoxOnea"></div>
                            <div class="textBoxOneb">CREDIT & DEBIT CARDS</div>
                        </div>

                        <div class="textBoxTwo">
                            <div class="textBoxTwoa">GIFT & LOYALTY CARDS</div>
                        </div>

                        <div class="textBoxThird">
                            <div class="textBoxThirda">VIRTUAL TERMINAL</div>
                            <div class="textBoxThirdb"></div>
                        </div>
                    </div>
                    <div class="horizontal"></div>
                    <div class="bottomBoxEntry">
                        <div class="bottomBoxEntryOne">
                            <div class="bottomBoxEntryOnea"></div>
                            <div class="bottomBoxEntryOneb">
                                <div class="OnebImage"><div class="OnebImagea"></div></div>
                                <div class="OnebTest">- Accept all major credit cards<br />- Increase buying power<br />- Cost effective solutions<br />- Reduce fraud </div>
                            </div>
                        </div>
                        <div class="bottomBoxEntryTwo">
                            <div class="bottomBoxEntryTwoa">
                                <div class="imageTwoa"></div>
                            </div>
                            <div class="textTwoa">- Advertise your Company image <br />- Issue custom cards <br />- Attract new customers <br />- Retain “loyal” customers</div>
                        </div>
                        <div class="bottomBoxEntryThird">
                            <div class="bottomBoxEntryThirda">
                                <div class="imageThirda"></div>
                            </div>
                            <div class="textThirda">- Eliminate purchasing equipment<br />- Accept payments via telephone<br />- Accept Internet payments<br />- Recurring billing capabilities<br /></div>
                            <div class="bottomBoxEntryThirdb"></div>
                        </div>
                    </div>
                </div>

                <div class="bottomBox" style="display:none">
                    <div class="bottomBoxShadow">
                        <div class="squareTopleft"></div>
                        <div class="shadowTop"></div>
                        <div class="squareTopRight"></div>
                    </div>
                    <div class="textBox">
                        <div class="textBoxOne">
                            <div class="textBoxOnea"></div>
                            <div class="textBoxOneb">MERCHANT SERVICES</div>
                        </div>
                        <div class="textBoxTwo">
                            <div class="textBoxTwoa">CHECK 21 & ACH</div>
                        </div>

                        <div class="textBoxThird">
                            <div class="textBoxThirda">QUICKBOOKS SOLUTIONS</div>
                            <div class="textBoxThirdb"></div>
                        </div>
                    </div>
                    <div class="horizontal"></div>
                    <div class="bottomBoxEntry">
                        <div class="bottomBoxEntryOne">
                            <div class="bottomBoxEntryOnea"></div>
                            <div class="bottomBoxEntryOneb">
                                <div class="OnebImage"><div class="OnebImageb2"></div></div>
                                <div class="OnebTest">- Accept Credit Cards<br />- Easy approval process<br />- Low rates </div>
                            </div>
                        </div>
                        <div class="bottomBoxEntryTwo">
                            <div class="bottomBoxEntryTwoa">
                                <div class="imageTwob"></div>
                            </div>
                            <div class="textTwoa">- Convert checks to transactions <br />- Eliminate deposit slips <br />- No trips to the bank <br />- Save time and money </div>

                        </div>
                        <div class="bottomBoxEntryThird">
                            <div class="bottomBoxEntryThirda">
                                <div class="imageThirdb"></div>
                            </div>
                            <div class="textThirda">- Compatible with QUICKBOOKS<br />- Instant approvals or declines<br />- USB card reader for swiped rates<br />- Improve accounting accuracy </div>
                            <div class="bottomBoxEntryThirdb"></div>
                        </div>
                    </div>
                </div>

                <div class="bottomBox" style="display:none">
                    <div class="bottomBoxShadow">
                        <div class="squareTopleft"></div>
                        <div class="shadowTop"></div>
                        <div class="squareTopRight"></div>
                    </div>
                    <div class="textBox">
                        <div class="textBoxOne">
                            <div class="textBoxOnea"></div>
                            <div class="textBoxOneb">POS RETAIL SYSTEMS</div>
                        </div>

                        <div class="textBoxTwo">
                            <div class="textBoxTwoa">E-COMMERCE</div>
                        </div>

                        <div class="textBoxThird">
                            <div class="textBoxThirda">PCI COMPLIANCE</div>
                            <div class="textBoxThirdb"></div>
                        </div>
                    </div>
                    <div class="horizontal"></div>
                    <div class="bottomBoxEntry">
                        <div class="bottomBoxEntryOne">
                            <div class="bottomBoxEntryOnea"></div>
                            <div class="bottomBoxEntryOneb">
                                <div class="OnebImage"><div class="OnebImagec"></div></div>
                                <div class="OnebTest">- Easy to use screen interface<br />- Integrated system<br />- Process credit and gift cards<br />- Manage sales and inventory </div>
                            </div>
                        </div>
                        <div class="bottomBoxEntryTwo">
                            <div class="bottomBoxEntryTwoa">
                                <div class="imageTwoc"></div>
                            </div>
                            <div class="textTwoa">- Increase sales over the internet <br />- Expand your operations to 24/7 <br />- Expand your business worldwide <br />- Sales without your presence</div>

                        </div>
                        <div class="bottomBoxEntryThird">
                            <div class="bottomBoxEntryThirda">
                                <div class="imageThirdc"></div>
                            </div>
                            <div class="textThirda">- Certify for VISA/MC regulations <br />- Affordable and easy to use tools<br />- Eliminate hefty fines <br />- Available for all merchant types</div>
                            <div class="bottomBoxEntryThirdb"></div>
                        </div>
                    </div>
                </div>

                <div class="bottomBox" style="display:none">
                    <div class="bottomBoxShadow">
                        <div class="squareTopleft"></div>
                        <div class="shadowTop"></div>
                        <div class="squareTopRight"></div>
                    </div>
                    <div class="textBox">
                        <div class="textBoxOne">
                            <div class="textBoxOnea"></div>
                            <div class="textBoxOneb">WIRELESS TERMINAL</div>
                        </div>

                        <div class="textBoxTwo">
                            <div class="textBoxTwoa">ONLINE REPORTING</div>
                        </div>

                        <div class="textBoxThird">
                            <div class="textBoxThirda">ATM PROCESSING</div>
                            <div class="textBoxThirdb"></div>
                        </div>
                    </div>
                    <div class="horizontal"></div>
                    <div class="bottomBoxEntry">
                        <div class="bottomBoxEntryOne">
                            <div class="bottomBoxEntryOnea"></div>
                            <div class="bottomBoxEntryOneb">
                                <div class="OnebImage"><div class="OnebImaged"></div></div>
                                <div class="OnebTest">- PCI compliant<br />- Integrated pin pad<br />- Gift cards, rewards, loyalty<br />- Online reporting tools </div>
                            </div>

                        </div>
                        <div class="bottomBoxEntryTwo">
                            <div class="bottomBoxEntryTwoa">
                                <div class="imageTwod"></div>
                            </div>
                            <div class="textTwoaa">- Manage all transaction types<br />- Track daily, weekly & monthly sales<br />- Credits, refunds & void transactions<br />- Access to reporting capabilities</div>

                        </div>
                        <div class="bottomBoxEntryThird">
                            <div class="bottomBoxEntryThirda">
                                <div class="imageThirdd"></div>
                            </div>
                            <div class="textThirda">- Increase profit potential<br />- Attract new customers<br />- Easy to manage<br />- Various options available</div>
                            <div class="bottomBoxEntryThirdb"></div>
                        </div>
                    </div>
                </div>


            </div>
            <a href="#" class="prev"><img src="@Url.Content("~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/btn_left_arrow_text.png")" width="27px" height="216px" style="border:0px" alt="Previous" title="Previous" /></a>
            <a href="#" class="next"><img src="@Url.Content("~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/btn_right_arrow_text.png")" width="27px" height="216px" style="border:0px" alt="Next" title="Next" /></a>
        </div>

    </div>
</div>
