@{
    ViewBag.Title = "PRIVACY & POLICY";
}

<div class="terms-policy-content">
       <!--  Middle box -->  
     <div class="middleboxmain">
           <div class="middleboxShadowTop"></div>
            <div class="middleboxCorner"></div> 
        </div>
       <div class="term-policy-box">
            <div class="middleboxShadowLeft"></div>
            <div>@Html.ActionLink("TERMS OF USE", "terms-of-use", "home", null, new { @class = "term-b"})</div>
            <div>@Html.ActionLink("PRIVACY POLICY", "privacy-policy", "home", null, new { @class = "policy-b"})</div>
        </div>
       <div class="term-policy-content-box">
         <div class="middleboxShadowLeft2"></div>    
           <div class="middlebox" style="overflow: hidden;">
               <iframe width="100%" height="100%" style="border: 0;" src="~/content/files/Policy.html"></iframe>
           </div>
     </div> 
</div>