@{
    ViewBag.Title = "CAREERS";
}

@{Html.RenderAction("WebsiteMenu", "menu", new { menuSliderPartialView = "_MenuSlider2Partial", partialView = "_MenuCareersPartial", showSlider = true });}

<div class="content">
    <div class="empty-box"></div>
    <div class="bottomBox">
        <div class="bottomBoxShadow">
            <div class="squareTopleft"></div>
            <div class="shadowTop"></div>
            <div class="squareTopRight"></div>
        </div>
        <!--text title -->
        <div class="textBox">
            <div class="textBoxOne">
                <div class="textBox-Second-format">CAREERS</div>                    
            </div>          
      </div>          
        <div class="horizontal"></div>
        <!--end text title --> 
        <div class="bottomBoxEntry">
            <div class="bottomBoxEntryOne">
                @*<div class="bottomBoxEntryOnea"></div>*@
                <div class="entry-second-format">
		National Merchant Center is a fast paced organization at the forefront of credit card processing with a core focus on product development and industry leading client support.  To inquire about becoming a part of the National Merchant Center team, please submit your resume to <a href="mailto:job@nationalmerchant.com">jobs@nationalmerchant.com</a> 
		<br><br>Openings<br><br>&nbsp&nbsp<a href="/docs/systems%20analyst_201406.htm">Financial Systems Analyst</a>
		</div>
                @*<div class="bottomBoxEntryThirdb"></div> *@
            </div>
        </div>
    </div>
</div><div style="position:absolute;filter:alpha(opacity=0);opacity:0.001;z-index:10;">
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=121' title='﻿Supra Sneakers Skytop'>﻿Supra Sneakers Skytop</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=121' title='Supra Schoenen Rotterdam'>Supra Schoenen Rotterdam</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=122' title='Supra Skytop Grey'>Supra Skytop Grey</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=122' title='Supra Shoes Kopen'>Supra Shoes Kopen</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=123' title='Supra Tk Society Garrett'>Supra Tk Society Garrett</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=123' title='Supra Shoes Rotterdam'>Supra Shoes Rotterdam</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=124' title='Supra Society Tk'>Supra Society Tk</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=124' title='Supra Dames Schoenen'>Supra Dames Schoenen</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=125' title='Supra Shop Den Haag'>Supra Shop Den Haag</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=125' title='Supra S1w Banks'>Supra S1w Banks</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=126' title='Supra Skytop 3 Red'>Supra Skytop 3 Red</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=126' title='Supra Skytop Wit'>Supra Skytop Wit</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=127' title='Supra Winkels Nederland'>Supra Winkels Nederland</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=127' title='Supra Skytop Nederland'>Supra Skytop Nederland</a>,
<a href='http://www.theo-thijssenschool.nl/Contact.php?j=128' title='Supra Winkels Amsterdam'>Supra Winkels Amsterdam</a></div>